@{
    ViewData["Title"] = "Email Confirmed";
}

<div class="alert alert-success mt-4">
    <h4>Your email has been confirmed!</h4>
    <p>You may now log in to your account.</p>

    <a asp-action="Login" class="btn btn-primary mt-3">Go to Login</a>
</div>
